Flickr2DayOne.json
[
    {
        "id": "bccf63686c838a79",
        "type": "debug",
        "z": "6cf7250c223824e5",
        "name": "debug raw",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 3440,
        "wires": []
    },
    {
        "id": "4d0b4499fc974c54",
        "type": "function",
        "z": "6cf7250c223824e5",
        "name": "time",
        "func": "let dt = msg.payload.date_taken;\nconst dtArray = dt.split(\" \");\nlet dtTime = dtArray[1];\n\n// Output\nmsg.payload.output = {};\nmsg.payload.output.time = dtTime;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 3280,
        "wires": [
            [
                "1abc312619d24f2d"
            ]
        ]
    },
    {
        "id": "03c7905ac0a94256",
        "type": "function",
        "z": "6cf7250c223824e5",
        "name": "output",
        "func": "// dayone2 -j Journal -p ~/Downloads/7803240212_d293878ca1_o.jpg --coordinate 42.366488 1.913255 -z Europe/Madrid --date='2012-08-12 17:04:10' -t flickr spain road sky -- new < ~/Downloads/text.md\n\n// input\nvar title = msg.payload.name;\nvar gps = '';\nvar flickrPhotoPath = '~/Documents/DayOne/Flickr/Photos/';\nvar flickrMdPath = '/Volumes/docker/nodered/flickr/output/md/';\nvar photo = msg.payload.name.toLowerCase();\nphoto = photo.replace(/\\ /g, '-');\nphoto = photo.replace(/[^a-zA-Z0-9\\-]/gi, '');\n\nphoto = flickrPhotoPath + photo + '_' + msg.payload.id + '_o.jpg';\nif (msg.payload.output.gps != null)\n    gps = msg.payload.output.gps;\n\n// sh\nvar sh = '';\nsh += 'dayone2 -j Journal -p ' + photo + ' ';\n\nif (msg.payload.output.gps != null)\n{\n    sh += '--coordinate ' + msg.payload.output.gps + ' ';\n    sh += '-z ' + msg.payload.output.timezone + ' ';\n}\n\nsh += '--isoDate=\\'' + msg.payload.date_taken.replace(/\\ /g, 'T') + 'Z\\' ';\nif (msg.payload.output.tags != null)\n    sh += '-t flickr TMP' + msg.payload.output.tags;\n\n// description\nsh += ' -- new < ' + flickrMdPath + 'photo_' + msg.payload.id + '.md'; \n\n// out\nmsg.payload.outSh = sh;\n\n// md\nvar md = '';\n\n// title\n// capitalize first letter of a word \nconst arr = title.split(\" \");\nfor (var j = 1; j < arr.length; j++)\n    arr[j] = arr[j].charAt(0).toUpperCase() + arr[j].slice(1);\nmd += title + '\\n';\n\n// add time for debuging  \nmd += msg.payload.output.time + '\\n';\n\n// add file in for debug\n//md += 'photo_' + msg.payload.id + '\\n';\n\n// description\nif (msg.payload.description != '')\n    md += '\\n' + msg.payload.description + '\\n';\nmd += '\\n';\n\n// add views, faves and comment number\nmd += 'Views : ' + msg.payload.count_views;\nif (msg.payload.count_faves != 0)\n    md += ' | Faves : ' + msg.payload.count_faves;\nif (msg.payload.count_comments != 0)\n    md += ' | Comments : ' + msg.payload.count_comments;\nmd += '\\n\\n';\n\n// add comments\nif (msg.payload.output.comments != null)\n    md += msg.payload.output.comments + '\\n';\n\n// addd flickr link\nmd += msg.payload.photopage;\n\n// out\nmsg.payload.outMd = md;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1890,
        "y": 3520,
        "wires": [
            [
                "9c923fce4156763d",
                "5a470e6eafb3221b"
            ]
        ]
    },
    {
        "id": "35d8bd61c8804d3d",
        "type": "function",
        "z": "6cf7250c223824e5",
        "name": "tags",
        "func": "var tags = '';\nif (msg.payload.tags.length > 0) \n{\n    const counter = msg.payload.tags.length;\n    let i = 0;\n     while (i < counter)\n     {\n        // get tag\n        var tag = msg.payload.tags[i].tag;\n\n        // capitalize first letter of a word except the first one\n        //tag = tag.replace(/[\\-\\/]/gm, '');\n        const arr = tag.split(\" \");\n        for (var j = 1; j < arr.length; j++)\n            arr[j] = arr[j].charAt(0).toUpperCase() + arr[j].slice(1);\n        var tmpTag = arr.join(\"\");\n\n        // Personal replace carracters \n        tmpTag = tmpTag.replace(/Mm/g, 'mm');\n        tmpTag = tmpTag.replace(/Sec/g, 'sec');\n        tmpTag = tmpTag.replace(/\\.0/g, '');\n        tmpTag = tmpTag.replace(/\\¹/g, '1');\n        tmpTag = tmpTag.replace(/\\₀/g, '0');\n        tmpTag = tmpTag.replace(/\\₁/g, '1');\n        tmpTag = tmpTag.replace(/\\₂/g, '2');\n        tmpTag = tmpTag.replace(/\\₃/g, '3');\n        tmpTag = tmpTag.replace(/\\₄/g, '4');\n        tmpTag = tmpTag.replace(/\\₅/g, '5');\n        tmpTag = tmpTag.replace(/\\₆/g, '6');\n        tmpTag = tmpTag.replace(/\\₈/g, '8');\n        tmpTag = tmpTag.replace(/\\⅕/g, '1/5');\n        tmpTag = tmpTag.replace(/\\⅛/g, '1/8');\n        tmpTag = tmpTag.replace(/\\½/g, '1/2');\n        tmpTag = tmpTag.replace(/\\⅓/g, '1/3');\n        tmpTag = tmpTag.replace(/\\¼/g, '1/4');\n        \n        // Personal filter\n        if (tmpTag != 'lucasJanin') \n            //tags += ' #' + tmpTag;\n            tags += ' ' + tmpTag;\n        i++;\n    }\n}\nmsg.payload.output.tags = tags;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 3400,
        "wires": [
            [
                "1e3cb120e9bbd122"
            ]
        ]
    },
    {
        "id": "63c531b8fa5888e1",
        "type": "function",
        "z": "6cf7250c223824e5",
        "name": "gps",
        "func": "// gps fixe data form flickt missing the dot carracter\nvar rawLatitude = msg.payload.geo[0].latitude;\nvar rawLongitude = msg.payload.geo[0].longitude;\nvar intLatitude = rawLatitude.substring(0, rawLatitude.length-6);\nvar intLongitude = rawLongitude.substring(0, rawLongitude.length - 6);\nvar floatLatitude = rawLatitude.substring(rawLatitude.length - 6, rawLatitude.length);\nvar floatLongitude = rawLongitude.substring(rawLongitude.length - 6, rawLongitude.length);\n\n// get timestamp for date_taken\nconst dt = new Date(msg.payload.date_taken).getTime();\nmsg.payload.timestamp = dt / 1000;\n\n// Output\nmsg.payload.output.gps = intLatitude + '.' + floatLatitude + ' ' + intLongitude + '.' + floatLongitude;\nmsg.payload.latitude = intLatitude + '.' + floatLatitude;\nmsg.payload.longitude = intLongitude + '.' + floatLongitude;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 3480,
        "wires": [
            [
                "b99169095cb11912"
            ]
        ]
    },
    {
        "id": "b99169095cb11912",
        "type": "change",
        "z": "6cf7250c223824e5",
        "name": "Prep",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "back",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.latitude",
                "pt": "msg",
                "to": "back.latitude",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.longitude",
                "pt": "msg",
                "to": "back.longitude",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.timestamp",
                "pt": "msg",
                "to": "back.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 3480,
        "wires": [
            [
                "83600ca7ae8a9918"
            ]
        ]
    },
    {
        "id": "1abc312619d24f2d",
        "type": "function",
        "z": "6cf7250c223824e5",
        "name": "comments",
        "func": "// comments\nif (msg.payload.comments.length > 0) \n{\n    var comments = '';\n    let i = 0;\n    while (i < msg.payload.comments.length)\n    {\n        var comment = '';\n\n        // add a label for my comment\n        if (msg.payload.comments[i].user == '21325004@N04')\n            comment = 'Lucas3d: '; \n        comment += msg.payload.comments[i].comment;\n        \n        // personal rules\n        comment = comment.replace(/\\[(.*?)\\]\\ /ig, '');\n        comment = comment.replace(/\\<(.*?)\\>/ig, ' ');\n        comment = comment.replace(/\\n/g, ' ');\n        //comment = comment.replace(/\\s/g, ' ');\n        comment = comment.replace(/\\-\\-.*?\\( \\? \\)/g, '');\n        comment = comment.replace(/\\s\\s+/g, ' ');\n        \n        // capitalize first letter of the first word\n        var c1 = comment.substring(0, 1).toUpperCase();\n        var c2 = comment.substring(1, comment.length);\n        comments += ' * ' + c1 + c2 + '\\n';\n        i++;\n    }\n    msg.payload.output.comments = comments;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 3340,
        "wires": [
            [
                "35d8bd61c8804d3d"
            ]
        ]
    },
    {
        "id": "b0c8739509c30140",
        "type": "file in",
        "z": "6cf7250c223824e5",
        "name": "",
        "filename": "file.in",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 740,
        "y": 3160,
        "wires": [
            [
                "69ef756fa154facc"
            ]
        ]
    },
    {
        "id": "69ef756fa154facc",
        "type": "json",
        "z": "6cf7250c223824e5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 3220,
        "wires": [
            [
                "4d0b4499fc974c54"
            ]
        ]
    },
    {
        "id": "f57808cf3c2ba3e2",
        "type": "split",
        "z": "6cf7250c223824e5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 550,
        "y": 2920,
        "wires": [
            [
                "ef1290206951975f"
            ]
        ]
    },
    {
        "id": "999c39cd51f8e68e",
        "type": "switch",
        "z": "6cf7250c223824e5",
        "name": "",
        "property": "msg.payload.geo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 3514,
        "wires": [
            [
                "63c531b8fa5888e1"
            ],
            [
                "447f371ba2bc536e"
            ]
        ]
    },
    {
        "id": "213a01a189ab8cb1",
        "type": "comment",
        "z": "6cf7250c223824e5",
        "name": "Flickr: Photos",
        "info": "",
        "x": 150,
        "y": 2860,
        "wires": []
    },
    {
        "id": "a77efada3e28549a",
        "type": "fs-file-lister",
        "z": "6cf7250c223824e5",
        "name": "All flies",
        "start": "/data/flickr/",
        "pattern": "photo_*.json",
        "folders": "*",
        "hidden": true,
        "lstype": "files",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": false,
        "showWarnings": true,
        "x": 340,
        "y": 2920,
        "wires": [
            [
                "f57808cf3c2ba3e2"
            ]
        ]
    },
    {
        "id": "a2042bf99d3548aa",
        "type": "inject",
        "z": "6cf7250c223824e5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 2920,
        "wires": [
            [
                "a77efada3e28549a"
            ]
        ]
    },
    {
        "id": "83600ca7ae8a9918",
        "type": "function",
        "z": "6cf7250c223824e5",
        "name": "prep request",
        "func": "// timezonedb api key\nvar apikey = 'YOUR_TIMEZONEDB_KEY_API';\n\n// calculate timestamp\n//var date = msg.payload.date_taken;\n//var timestampLong = new Date(date).getTime();\n//timestampLong = timestampLong.toString();\n//var timestamp = timestampLong.substring(0, timestampLong.length - 2);\n//msg.payload.timestamp = timestamp;\n\n// build timezonedb url\nmsg.url = \"http://api.timezonedb.com/v2.1/get-time-zone?key=\"\n    + apikey\n    + '&format=json&by=position&lat='\n    + msg.payload.latitude\n    + '&lng='\n    + msg.payload.longitude\n    + '&time='\n    + msg.payload.timestamp\n    + '&fields=gmtOffset,dst,zoneName'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 3480,
        "wires": [
            [
                "1ae97f4c820b6caa"
            ]
        ]
    },
    {
        "id": "1ae97f4c820b6caa",
        "type": "http request",
        "z": "6cf7250c223824e5",
        "name": "Get TZ",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1410,
        "y": 3480,
        "wires": [
            [
                "e60e87c392e149d2",
                "e0809b9cb12b2c2d"
            ]
        ]
    },
    {
        "id": "c6ad650e658d711a",
        "type": "change",
        "z": "6cf7250c223824e5",
        "name": "post",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "timezonedb",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "back",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.output.gmtOffset",
                "pt": "msg",
                "to": "timezonedb.gmtOffset",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.output.dstOffset",
                "pt": "msg",
                "to": "timezonedb.dstOffset",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.output.timezone",
                "pt": "msg",
                "to": "timezonedb.zoneName",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.latitude",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.longitude",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "timezonedb",
                "pt": "msg",
                "to": "payload.timezonedb",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 3480,
        "wires": [
            [
                "03c7905ac0a94256",
                "bccf63686c838a79"
            ]
        ]
    },
    {
        "id": "e60e87c392e149d2",
        "type": "debug",
        "z": "6cf7250c223824e5",
        "name": "Get TZ",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 3520,
        "wires": []
    },
    {
        "id": "e0809b9cb12b2c2d",
        "type": "switch",
        "z": "6cf7250c223824e5",
        "name": "Error",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "OK",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1550,
        "y": 3440,
        "wires": [
            [
                "9d07f39386722b39"
            ],
            [
                "c6ad650e658d711a"
            ]
        ]
    },
    {
        "id": "9d07f39386722b39",
        "type": "debug",
        "z": "6cf7250c223824e5",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 3400,
        "wires": []
    },
    {
        "id": "5f31ea54ef13a4ac",
        "type": "change",
        "z": "6cf7250c223824e5",
        "name": "move to file",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "file.in",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 2980,
        "wires": [
            [
                "1b5536cf9fe1b211"
            ]
        ]
    },
    {
        "id": "1b5536cf9fe1b211",
        "type": "function",
        "z": "6cf7250c223824e5",
        "name": "files out",
        "func": "var fileIn = msg.file.in;\nconst fileInArray = fileIn.split(\"/\");\n\n// day one cli and md export\nvar fileSh = '';\nvar fileMd = '';\nfileSh = fileIn.replace('.json', '.sh');\nfileSh = fileSh.replace('/photo_', '/output/sh/photo_');\nfileMd = fileIn.replace('.json', '.md');\nfileMd = fileMd.replace('/photo_', '/output/md/photo_');\n\n// Output\n//msg.file.out = fileOut;\n//msg.file.NTZOut = fileNTZOut;\nmsg.file.sh = fileSh;\nmsg.file.md = fileMd;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 3040,
        "wires": [
            [
                "26d11762fed4f154"
            ]
        ]
    },
    {
        "id": "26d11762fed4f154",
        "type": "fs-ops-access",
        "z": "6cf7250c223824e5",
        "name": "fileSh?",
        "path": "",
        "pathType": "str",
        "filename": "msg.file.sh",
        "filenameType": "msg",
        "read": true,
        "write": false,
        "throwerror": false,
        "x": 750,
        "y": 3100,
        "wires": [
            [],
            [
                "b0c8739509c30140"
            ]
        ]
    },
    {
        "id": "fbfb146f033b9f3d",
        "type": "inject",
        "z": "6cf7250c223824e5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 3700,
        "wires": [
            [
                "4a55016d04d79c7d"
            ]
        ]
    },
    {
        "id": "7da182a2ba159102",
        "type": "fs-file-lister",
        "z": "6cf7250c223824e5",
        "name": "All TZ files",
        "start": "/data/flickr/output/sh/",
        "pattern": "photo_*.sh",
        "folders": "*",
        "hidden": true,
        "lstype": "files",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": false,
        "showWarnings": true,
        "x": 630,
        "y": 3700,
        "wires": [
            [
                "c05621c1fe08f761"
            ]
        ]
    },
    {
        "id": "c05621c1fe08f761",
        "type": "split",
        "z": "6cf7250c223824e5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 790,
        "y": 3700,
        "wires": [
            [
                "e82e5dc0bc2bc479"
            ]
        ]
    },
    {
        "id": "e82e5dc0bc2bc479",
        "type": "file in",
        "z": "6cf7250c223824e5",
        "name": "",
        "filename": "payload",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 942.857177734375,
        "y": 3700,
        "wires": [
            [
                "bd4c42b1caeb7e86"
            ]
        ]
    },
    {
        "id": "4a55016d04d79c7d",
        "type": "fs-ops-delete",
        "z": "6cf7250c223824e5",
        "name": "delete flickr.sh",
        "path": "/data/flickr/merge/",
        "pathType": "str",
        "filename": "flickr.sh",
        "filenameType": "str",
        "x": 360,
        "y": 3700,
        "wires": [
            [
                "7da182a2ba159102"
            ]
        ]
    },
    {
        "id": "bd4c42b1caeb7e86",
        "type": "join",
        "z": "6cf7250c223824e5",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "msg.payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1110,
        "y": 3700,
        "wires": [
            [
                "002e4486a1648a2a"
            ]
        ]
    },
    {
        "id": "002e4486a1648a2a",
        "type": "file",
        "z": "6cf7250c223824e5",
        "name": "flickr.sh",
        "filename": "/data/flickr/merge/flickr.sh",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1280,
        "y": 3700,
        "wires": [
            [
                "bbed247ae6137de4"
            ]
        ]
    },
    {
        "id": "5801119f510f115b",
        "type": "comment",
        "z": "6cf7250c223824e5",
        "name": "Merge sh files",
        "info": "",
        "x": 150,
        "y": 3640,
        "wires": []
    },
    {
        "id": "9c923fce4156763d",
        "type": "change",
        "z": "6cf7250c223824e5",
        "name": "outSh",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.outSh",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 3480,
        "wires": [
            [
                "d10df7762d918a0a",
                "e8a7dea96079c09f"
            ]
        ]
    },
    {
        "id": "d10df7762d918a0a",
        "type": "file",
        "z": "6cf7250c223824e5",
        "name": "file.sh",
        "filename": "file.sh",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 2250,
        "y": 3480,
        "wires": [
            [
                "514954164462fb08"
            ]
        ]
    },
    {
        "id": "b66bd3841b3ac757",
        "type": "debug",
        "z": "6cf7250c223824e5",
        "name": "debug write sh",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2600,
        "y": 3480,
        "wires": []
    },
    {
        "id": "514954164462fb08",
        "type": "change",
        "z": "6cf7250c223824e5",
        "name": "Write file.sh",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "file.sh",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2410,
        "y": 3480,
        "wires": [
            [
                "b66bd3841b3ac757"
            ]
        ]
    },
    {
        "id": "5a470e6eafb3221b",
        "type": "change",
        "z": "6cf7250c223824e5",
        "name": "outMd",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.outMd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 3554,
        "wires": [
            [
                "a7f1dda797277843",
                "6c9d4ce9b12408bb"
            ]
        ]
    },
    {
        "id": "a7f1dda797277843",
        "type": "file",
        "z": "6cf7250c223824e5",
        "name": "file.md",
        "filename": "file.md",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 2250,
        "y": 3554,
        "wires": [
            [
                "4680c949a3fd7a90"
            ]
        ]
    },
    {
        "id": "40e3ef9cdd035d28",
        "type": "debug",
        "z": "6cf7250c223824e5",
        "name": "debug write md",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2600,
        "y": 3554,
        "wires": []
    },
    {
        "id": "4680c949a3fd7a90",
        "type": "change",
        "z": "6cf7250c223824e5",
        "name": "Write file.md",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "file.md",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2410,
        "y": 3554,
        "wires": [
            [
                "40e3ef9cdd035d28"
            ]
        ]
    },
    {
        "id": "e8a7dea96079c09f",
        "type": "debug",
        "z": "6cf7250c223824e5",
        "name": "debug sh",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2260,
        "y": 3420,
        "wires": []
    },
    {
        "id": "6c9d4ce9b12408bb",
        "type": "debug",
        "z": "6cf7250c223824e5",
        "name": "debug md",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2270,
        "y": 3614,
        "wires": []
    },
    {
        "id": "1e3cb120e9bbd122",
        "type": "function",
        "z": "6cf7250c223824e5",
        "name": "description",
        "func": "if (msg.payload.description != '')\n{\n    var description = msg.payload.description;\n    var descArray = msg.payload.description.split(\"---\");\n    description = descArray[0] + '\\n';\n    if (descArray[2] != null)\n        description += descArray[2] + '\\n';\n\n    // personal clenup of my description\n    description = description.replace(/[\\r\\n]{3,}/gm, '');\n    description = description.replace(/[\\&\\;]/g, '');\n    description = description.replace(/<a href=\"https:\\/\\/www.facebook.com\\/Lucas.Janin.Photography\" rel=\"nofollow\">My Facebook<\\/a> \\/ <a href=\"https:\\/\\/plus.google.com\\/u\\/0\\/\\+LucasJanin\\/posts\" rel=\"nofollow\">My Google\\+<\\/a>/ig, '');\n    description = description.replace(/À regarder en mode plein écran avec la touche quotLquot \\(spécialement avec un écran Retina\\)/ig, '');\n    description = description.replace(/Press.*?Display\\)/g, '');\n    description = description.replace(/\\| <a href.*?--/g, '');\n    description = description.replace(/<a href.*?Black<\\/a>/g, '');\n    description = description.replace(/\\-\\-/g, '');\n    description = description.replace(/\\n +/g, '');\n    description = description.replace(/\\n{2,}$/gm, '\\n');\n    description = description.replace(/\\n$/g, '');\n\n    // adding description\n    msg.payload.description = description;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 3460,
        "wires": [
            [
                "999c39cd51f8e68e"
            ]
        ]
    },
    {
        "id": "e0a84435dd337bd4",
        "type": "inject",
        "z": "6cf7250c223824e5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 3940,
        "wires": [
            [
                "f20eebb70a591f02",
                "9ec680e0d5b0bc52"
            ]
        ]
    },
    {
        "id": "7f75c176195230e2",
        "type": "fs-ops-delete",
        "z": "6cf7250c223824e5",
        "name": "delete all sh",
        "path": "",
        "pathType": "str",
        "filename": "payload",
        "filenameType": "msg",
        "x": 670,
        "y": 3900,
        "wires": [
            []
        ]
    },
    {
        "id": "f20eebb70a591f02",
        "type": "fs-file-lister",
        "z": "6cf7250c223824e5",
        "name": "All sh files",
        "start": "/data/flickr/output/sh/",
        "pattern": "*.sh",
        "folders": "*",
        "hidden": true,
        "lstype": "files",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": false,
        "showWarnings": true,
        "x": 360,
        "y": 3900,
        "wires": [
            [
                "36c1727c962ecaba"
            ]
        ]
    },
    {
        "id": "36c1727c962ecaba",
        "type": "split",
        "z": "6cf7250c223824e5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 3900,
        "wires": [
            [
                "7f75c176195230e2"
            ]
        ]
    },
    {
        "id": "68e900690d6dbca8",
        "type": "fs-ops-delete",
        "z": "6cf7250c223824e5",
        "name": "delete all md",
        "path": "",
        "pathType": "str",
        "filename": "payload",
        "filenameType": "msg",
        "x": 670,
        "y": 3980,
        "wires": [
            []
        ]
    },
    {
        "id": "9ec680e0d5b0bc52",
        "type": "fs-file-lister",
        "z": "6cf7250c223824e5",
        "name": "All sh files",
        "start": "/data/flickr/output/md/",
        "pattern": "*.md",
        "folders": "*",
        "hidden": true,
        "lstype": "files",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": false,
        "showWarnings": true,
        "x": 360,
        "y": 3980,
        "wires": [
            [
                "f27c8b8085f753e2"
            ]
        ]
    },
    {
        "id": "f27c8b8085f753e2",
        "type": "split",
        "z": "6cf7250c223824e5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 3980,
        "wires": [
            [
                "68e900690d6dbca8"
            ]
        ]
    },
    {
        "id": "d01ce840691bcdfa",
        "type": "comment",
        "z": "6cf7250c223824e5",
        "name": "Flickr: Cleanup md and sh output",
        "info": "",
        "x": 190,
        "y": 3840,
        "wires": []
    },
    {
        "id": "bbed247ae6137de4",
        "type": "exec",
        "z": "6cf7250c223824e5",
        "command": "chmod 777 /data/flickr/merge/flickr.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1550,
        "y": 3700,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ef1290206951975f",
        "type": "delay",
        "z": "6cf7250c223824e5",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 2920,
        "wires": [
            [
                "5f31ea54ef13a4ac"
            ]
        ]
    },
    {
        "id": "447f371ba2bc536e",
        "type": "junction",
        "z": "6cf7250c223824e5",
        "x": 900,
        "y": 3560,
        "wires": [
            [
                "0dc243c253d853b7"
            ]
        ]
    },
    {
        "id": "0dc243c253d853b7",
        "type": "junction",
        "z": "6cf7250c223824e5",
        "x": 1740,
        "y": 3560,
        "wires": [
            [
                "03c7905ac0a94256",
                "bccf63686c838a79"
            ]
        ]
    }
]